<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to Qatar!</h1>
    <p>An inside look at the 2022 FIFA World Cup</p>
  </div>
</div>
