{% extends '_templates/base.njk' %}

{% block page_title %}FIFA Men's World Cup Qatar 2022{% endblock %}

{% block page_description %}FIFA World Cup 2022{% endblock %}

{% block content %}
<article class="container">
  <h1>FIFA Men's World Cup Qatar 2022</h1>
  <p>With 29 out of the 30 teams already set to travel for Qatar for the world's biggest competition with some information from each of the teams as they chase the World Cup. This website has access to analysis on the group stage of the tournament, international team information, and star player data. Get ready with us for the the first World Cup that will be played in the Fall!</p>
  <h2>World Cup team loop</h2>
  <p>This loop contains the information for the group games.</p>
  <div class="row">
    {% for group in groups.groups%}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ group.group_name }}</h5>
          <p class="card-text">{{group.slug}}</p>
          <h6 class="card-text">{{group.date_1}}
          <p class="card-text">{{group.match_1_1}} and {{group.match_1_2}}
          <h6 class="card-text">{{group.date_2}}
          <p class="card-text">{{group.match_2_1}} and {{group.match_2_2}}
          <h6 class="card-text">{{group.date_3}}
          <p class="card-text">{{group.match_3_1}} and {{group.match_3_2}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}